.container {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #808080;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 4px 4px 10px -1px rgba(24,24,24,0.20);
  background-color: white;

  form{
    text-align: left;

    .name{
      display: flex;
    }
    .name input{
      width: 270px;
    }
  
    label, input, select{
      margin-left: 5px;
    }
    label {
      display: block;
      margin-top: 0.7rem;
    }
    input{
      width: 350px;
    }
    
    .address {
      margin-top: 10px;
    }
  }

  .save-form{
    display: inline-block;
    width: 99%;
    margin: auto;
    padding: 10px 10px;
    font-size: 16px;
    margin-top: 15px;
    background-color: #92ac17;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    &:hover{
      background-color: #d1d1d1;
    }
  }

  #state, #department{
    margin-left: 5px;
    width: 346px;
  }
}
