.container {
  width: 600px;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #242424;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 4px 4px 10px -1px rgba(24,24,24,0.69);
  
  h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
  }

  form{
    text-align: left;

    .name{
      display: flex;
    }
    .name input{
      width: 270px;
    }
  
    label, input, select{
      margin-left: 5px;
    }
    label {
      display: block;
      margin-top: 0.7rem;
    }
    input{
      width: 350px;
      padding: 6px;
      border-radius: 4px;
      border: #808080 1px solid;
      color: #313131;

      font-size: 0.95rem;
      letter-spacing: 0.3px;
      font-weight: 100;
    }
    
    .address {
      margin-top: 10px;
    }
  }

  .save-form{
    display: inline-block;
    width: 99%;
    margin: auto;
    padding: 10px 10px;
    font-size: 16px;
    margin-top: 15px;
    background-color: #92ac17;
    border-radius: 4px;
    border: none;
    cursor: pointer;    
  }

  #state, #department{
    margin-left: 5px;
    width: 346px;
  }


}
